<h1> Form </h1>

<%= form_with scope: :form, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :birthday %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.label :favoriteHero %><br>
      <%= form.text_area :text %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>