<h1>New form</h1>

<%= form_with scope: :form, url: forms_path, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Birthday %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :FavoriteHero %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>